.cross {
    width: 200px;
    height: 300px;
    border: 3px dotted gray;
    position: relative;
  }
  
  .cross::before,
  .cross::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 1px;
    background-color: white;
  }
  
  .cross::before {
    transform: translate(-50%, -50%);
  }
  
  .cross::after {
    transform: translate(-50%, -50%);
  }